<div class="inner-all-days">
    <div class="all-days-monday">
        <span class="day-label">Понеделник</span>
        <div class="day-wrapper">
            {% include './lecturer/days/monday.html.twig' %}
        </div>
    </div>
    <div class="all-days-tuesday">
        <span class="day-label">Вторник</span>
        <div class="day-wrapper">
            {% include './lecturer/days/tuesday.html.twig' %}
        </div>
    </div>
    <div class="all-days-wednesday">
        <span class="day-label">Сряда</span>
        <div class="day-wrapper">
            {% include './lecturer/days/wednesday.html.twig' %}
        </div>
    </div>
    <div class="all-days-thursday">
        <span class="day-label">Четвъртък</span>
        <div class="day-wrapper">
            {% include './lecturer/days/thursday.html.twig' %}
        </div>
    </div>
    <div class="all-days-friday">
        <span class="day-label">Петък</span>
        <div class="day-wrapper">
            {% include './lecturer/days/friday.html.twig' %}
        </div>
    </div>
</div>