$color-alabaster: #f7f7f7;
$color-black: #000;
$color-hokey-pokey: #c7a530;
$color-scorpion: #575757;
$color-tundora: #454545;
$color-white: #fff;
$color-zorba: #9e988a;
$color-oslo-gray: #95989a;
$color-alto: #d0d0d0;
$color-dove-gray: #707070;
$color-dodger-blue: #2699fb;
